1. What are data structures, and why are they important?
Answer- Data structures are ways to organize and store data efficiently for access and modification. They are crucial for efficient programming by managing data effectively.
2. Explain the difference between mutable and immutable data types with examples.
Answer- Mutable types (like lists []) can be changed after creation. Immutable types (like strings "hello") cannot be changed after creation; operations create new objects.
3. What are the main differences between lists and tuples in Python? Answer- Lists are mutable ([]), while tuples are immutable (()). Lists are for changeable collections, tuples for fixed ones.
4. Describe how dictionaries store data.
Answer- Dictionaries store data as unique key-value pairs, allowing fast retrieval by key using hash tables.
5. Why might you use a set instead of a list in Python?
Answer- Use sets for collections of unique elements or for efficient set operations (union, intersection) and membership testing.
6. What is a string in Python, and how is it different from a list?
Answer- A string is an immutable sequence of characters. A list is a mutable sequence of elements of any type.
7. How do tuples ensure data integrity in Python?
Answer- Tuples ensure data integrity because their immutability prevents accidental changes to their elements once created.
8. What is a hash table, and how does it relate to dictionaries in Python?
Answer- A hash table is a data structure that maps keys to values using a hash function for fast lookups. Python dictionaries are implemented using hash tables.
9. Can lists contain different data types in Python?
Answer- Yes, lists can contain elements of different data types.
10. Explain why strings are immutable in Python.
Answer- Strings are immutable to make them hashable (usable as dictionary keys/set elements) and simplify memory management and predictability.
11. What advantages do dictionaries offer over lists for certain tasks?
Answer- Dictionaries offer faster access to values based on a key (average O(1)) compared to searching by value in a list (O(n)).
12. Describe a scenario where using a tuple would be preferable over a list.
Answer- Use a tuple for fixed collections of related data that shouldn't change, like geographical coordinates or RGB color values.
13. How do sets handle duplicate values in Python?
Answer- Sets automatically remove duplicate values, storing only unique elements.
14. How does the “in” keyword work differently for lists and dictionaries?
Answer- For lists, in checks if a value exists (linear search). For dictionaries, in checks if a key exists (fast hash-based lookup).
15. Can you modify the elements of a tuple? Explain why or why not. Answer- No, you cannot modify tuple elements because tuples are immutable.
16. What is a nested dictionary, and give an example of its use case. Answer- A nested dictionary is a dictionary where values are other dictionaries. Use cases include representing hierarchical data like a structure of users with their details: {'user1': {'name': 'Alice'}}.
17. Describe the time complexity of accessing elements in a dictionary.
Answer- Average time complexity for access is O(1) due to hash tables.
18. In what situations are lists preferred over dictionaries?
Answer- Lists are preferred when element order is important, accessing by index is needed, or when storing duplicate values.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Answer- Before Python 3.7, they were unordered based on hashing. From 3.7, they are insertion-ordered, but key-based retrieval remains fast regardless of order.
20. Explain the difference between a list and a dictionary in terms of data retrieval.  
Answer- Lists retrieve by index (position), potentially slow for searching values (O(n)). Dictionaries retrieve by key, very fast (average O(1)).

In [17]:
#1 Write a code to create a string with your name and print it.
my_name = "Shrey"
print(my_name)

Shrey

In [18]:
#2 Write a code to find the length of the string "Hello World".
my_string = "Hello World"
string_length = len(my_string)
print(string_length)

11

In [19]:
#3 Write a code to slice the first 3 characters from the string "Python Programming".
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [20]:
#4 Write a code to convert the string "hello" to uppercase.
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [21]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

In [22]:
#6 Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [23]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [26]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [27]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [28]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [29]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [30]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

In [31]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

In [32]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index("cat")
print(index_of_cat)

1

In [16]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple = ('apple', 'banana', 'orange')
is_kiwi_in_tuple = "kiwi" in my_tuple
print(is_kiwi_in_tuple)

False

In [15]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [14]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [13]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [12]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [11]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [10]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "", "age": None, "city": ""}
print(my_dict)

{'name': '', 'age': None, 'city': ''}

In [9]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [8]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
print(name_value)

Alice

In [7]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [6]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [5]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)
my_dict = {"a": 1, "b": 2, "c": 3}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(1, 2, 3)
{'a': 1, 'b': 2, 'c': 3}

In [4]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random

my_list = [random.randint(1, 100) for _ in range(5)]
my_list.sort()
print(my_list)

[10, 48, 76, 85, 92]

In [3]:
#28 Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = my_list[3]
print(third_element)

date

In [2]:
#29 Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [1]:
#30 Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'banana', 'cherry', 'apple'}